* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e4f9ff;
  height: 100%;
}
/* --------------ScrollBar----------------- */
::-webkit-scrollbar {
  display: none;
}
/* -------------Header-------------------- */
.header {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  box-shadow: 0px 0px 4px 1px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #8deff6;
}
.header a {
  text-decoration: none;
}
.aboutus {
  color: black;
  background: transparent;
  border: none;
  width: max-content;
  margin-right: 70px;
  font-size: 17px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all ease-in-out 0.2s;
}
.aboutus:hover {
  cursor: pointer;
  filter: invert(1);
}
.aboutus > .logout {
  width: 30px;
  height: 25px;
}
.logo {
  padding-left: 35px;
  color: #ffe382;
}
.logo h1 {
  font-size: 24px;
  color: blueviolet;
}
.logo h4 {
  font-size: 13px;
  letter-spacing: 2px;
  color: blue;
}
/* ----------------Navbar-------------------- */
.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: 35px;
  width: 300px;
  top: 116px;
  height: 449px;
}
.navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.navbar ul {
  list-style-type: none;
  gap: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  padding-top: 46px;
  justify-content: center;
  align-items: center;
}
.navbar li {
  width: 180px;
  padding: 18px;
  font-size: large;
}
.navbar img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}
.imge {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ebebec;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
  opacity: 50%;
}
.imge:hover {
  background-color: #eef5ff;
  box-shadow: 0px 0px 6px 0px;
  cursor: pointer;
  opacity: 100%;
  color: #8abcfd;
}
.line {
  width: 302px;
  height: 1px;
  margin-top: 22px;
  opacity: 53%;
  box-shadow: 0px 1px 7px 0px;
}
/* ----------------Footer-------------------- */
.footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  margin: 14px;
  width: 300px;
  top: 613px;
  height: 73px;
}
/* ------------Conatainer-------------------- */
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 116px;
  width: 1040px;
  min-height: 600px;
  left: 386px;
  margin: 35px;
  overflow-y: scroll;
  padding-right: 20px;
  border-radius: 25px 25px 0px 0px;
  background-color: #e4f9ff;
  transition: all 0.3s;
}
.container:hover {
  box-shadow: 0px 0px 7px 0px;
}
.biohome{
  display: flex;
  margin-left: 10px;
}
.userinfo {
  width: 1000px;
  height: 60px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
.userinfo .userprofile {
  margin-left: 7px;
}
.userprofile #date {
  font-size: 13px;
}
.userinfo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all ease-in-out 0.3s;
}
.userinfo a:hover {
  font-size: 17px;
}
.userinfo .btn-follow {
  width: 100px;
  display: flex;
  font-size: 13px;
  gap: 5px;
  padding: 4px;
  border-radius: 22px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 70%;
  transition: all ease-in 0.3s;
}
.userinfo .btn-follow:hover {
  opacity: 100%;
  box-shadow: 0px 0px 5px 0px;
  background-color: #bdebee;
}
img.userprofilepic {
  width: 41px;
  height: 41px;
  border-radius: 50%;
}
.postcard #post {
  padding: 4px;
  border-radius: 20px;
  padding-left: 7px;
  object-fit: cover;
  display: flex;
  justify-content: center;
}
#post img,
video {
  border-radius: 20px;
  height: 450px;
}
.container .btn {
  width: 761px;
  height: 60px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 139px;
}
.btn .button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebec;
  transition: all ease-in-out 0.3s;
}
.btn .button:hover {
  box-shadow: 0px 0px 5px 0px;
}
.btn #like:hover {
  background-color: rgb(248, 122, 122);
}
.btn #share:hover {
  background-color: #bfa5f0;
}
.btn #comment:hover {
  background-color: #e9a8f2;
}
.postcard .line {
  width: 951px;
  height: 1px;
  margin-top: 4px;
  opacity: 53%;
  box-shadow: 0px 1px 7px 0px;
  margin-left: 47px;
}
.container .commentbox {
  height: 60px;
  padding: 10px;
  margin-top: 40px;
  border-radius: 20px;
  width: 900px;
  margin-left: 73px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 7px;
  box-shadow: inset 0px 0px 3px 0px;
  transition: all ease-in-out 0.3s;
}
.commentbox a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(67, 67, 67);
}
.commentbox a:hover {
  color: grey;
  text-decoration: underline;
}
.container .commentbox:hover {
  background-color: #def7ff;
  box-shadow: inset 0px 0px 6px 0px;
  cursor: pointer;
}
img.viewerprofilepic {
  width: 41px;
  height: 41px;
  border-radius: 50%;
}
.brake {
  width: 1003px;
  margin-left: 20px;
  margin-top: -14px;
  opacity: 53%;
  border: 1px solid #332941;
  box-shadow: 0px 1px 7px 0px;
}

/* -------profile/user--------- */
.btnfollow{
  width: 100px;
  height: 37px;
  display: flex;
  font-size: 13px;
  gap: 5px;
  padding: 4px;
  border-radius: 22px;
  border: none;
  justify-content: center;
  border-radius: 17px;
  align-items: center;
  cursor: pointer;
  opacity: 70%;
  transition: all ease-in 0.3s;
}
.btnfollow:hover {
  opacity: 100%;
  box-shadow: 0px 0px 5px 0px;
  background-color: #bdebee;
}
.btnfollow .follow{
  width: 25px;
  height: 25px;
}
/* -------Search--------- */
.search {
  height: 600px;
}
.searchbar {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 7px;
  justify-content: center;
}
.inputsearch {
  width: 600px;
  padding: 8px;
  padding-left: 14px;
  border-radius: 14px 0px 0px 14px;
  background: transparent;
  box-shadow: 0px 0px 2px 0px;
  transition: all ease-in-out 0.3s;
  opacity: 80%;
  border: none;
}

.inputsearch:hover {
  width: 617px;
  padding-left: 22px;
  border-radius: 18px 0px 0px 18px;
  box-shadow: 0px 0px 8px 2px blueviolet;
  margin-right: 6px;
  cursor: pointer;
  opacity: 100%;
}
.inputsearch:focus {
  width: 617px;
  padding-left: 22px;
  border-radius: 18px 0px 0px 18px;
  box-shadow: 0px 0px 8px 2px blueviolet;
  margin-right: 6px;
  cursor: pointer;
  opacity: 100%;
  outline: none;
}
.searchbar .btn-search {
  width: 47px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 100%;
  border: none;
  background-color: #ebebec;
  border-radius: 0px 14px 14px 0px;
  padding: 6px;
  box-shadow: 0px 0px 2px 0px black;
  transition: all ease-in-out 0.3s;
  opacity: 80%;
}
.searchbar .btn-search:hover {
  width: 40px;
  opacity: 100%;
  background-color: #eef5ff;
  box-shadow: 0px 0px 8px 2px rgb(226, 43, 76);
  margin-left: 8px;
  cursor: pointer;
}

.search .line {
  width: 987px;
  height: 1px;
  margin-top: 22px;
  opacity: 53%;
  border: 1px solid blueviolet;
  height: 0px;
  box-shadow: 0px 1px 7px 0px;
  margin-left: 25px;
}
.searchoutput {
  display: grid;
  align-items: start;
  grid-gap: 33px;
  padding-top: 30px;
  padding-left: 30px;
}
.searchoutput .accountbox {
  width: 545px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebec;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
  padding-left: 35px;
}
.searchoutput .accountbox:hover {
  background-color: #eef5ff;
  box-shadow: 0px 0px 6px 0px;
  cursor: pointer;
  opacity: 100%;
  color: #8abcfd;
}

.accountbox .userinfo {
  width: 1000px;
  height: 60px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.accountbox .userprofile {
  margin-left: 7px;
}

.accountbox a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all ease-in-out 0.3s;
}
.accountbox a:hover {
  font-size: 17px;
}
/* -----Dashboard------- */

.welname{
  margin-top: 10px;
  margin-left: 18px;
}
.user-account {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  gap: 20px;
}
.uinfo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-account img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.user-account p {
  font-size: 13px;
}


/* -----static dashboard---- */

.statics {
  display: grid;
  justify-content: center;
  padding: 20px;
  grid-gap: 3%;
  grid-template-columns: 29% 29% 29%;
  grid-template-rows: 30vh 30vh;
}
.statics > .box1,
.box2,
.box4 {
  background-color: #dcf2f1;
  cursor: pointer;
  padding: 12px;
  border: 1px solid #836FFF;
  box-shadow: 0px 0px 2px 0px #7F27FF;
  border-radius: 20px;
  transition: all ease-in-out .3s;
}
.statics > .box1:hover{
  border: 2px solid #836FFF;
  box-shadow: 0px 0px 4px 0px #7F27FF;
}
.statics > .box2:hover{
  border: 2px solid #836FFF;
  box-shadow: 0px 0px 4px 0px #7F27FF;
}
.statics > .box4:hover{
  border: 2px solid #836FFF;
  box-shadow: 0px 0px 4px 0px #7F27FF;
}
.box4 {
  grid-column: 1/3;
}
.box4 > .btnadd {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.btnadd > button > img {
  width: 40px;
  height: 40px;
}
.btnadd > button {
  cursor: pointer;
  height: 60%;
  width: 26%;
  border: none;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.btnadd > button:hover {
  border: 1px solid blueviolet;
  border-radius: 4px;
  transform: scale(1.1);
}
/* -----pop-up window----- */
.pop {
  display: none;
  position: fixed;
  width: 30vh;
  border: 3px solid rgb(130, 200, 241);
  background-color: rgb(189, 224, 244);
  padding: 40px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  align-items: center;
}
.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}
form > label {
  font-size: large;
}
form>textarea{
  background: rgba(168, 167, 167, 0.648);
}
form > #files {
  width: 90px;
}
form > #uploadim {
  width: 130px;
  height: 35px;
  background-color: #9344dc;
  color: beige;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  transition: all ease-in-out 0.3s;
}
form > #uploadim:hover {
  opacity: 0.8;
  border-radius: 3px;
}

.close {
  margin: 5px;
  background-color: #da0b0b00;
  border: none;
  border-radius: 5px;
  color: black;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  cursor: pointer;
}

/* postsection */
#posts-h3 {
  padding: 20px 37px;
}
.post-section {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.post {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}
.user-account a {
  text-decoration: none;
  color: black;
  transition: all ease 0.2s;
}
.user-account a:hover {
  text-decoration: underline;
  color: gray;
}

.post img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  transition: all ease-in-out 0.3s;
}
.post:hover img {
  cursor: pointer;
  filter: blur(1px);
  transform: scale(1.1);
}
.links {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.link {
  width: 25px;
  height: 25px;
  filter: grayscale(30%);
  transition: all ease-in-out 0.2s;
}
.link:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.about {
  padding-left: 25px;
}
.address {
  display: flex;
  align-items: center;
}

/* editaccount */

.alogout{
  display: flex;
  gap: 2%;
  margin-left: 3%;
  margin-bottom: 2%;
}
.alogout>a{
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 1.4vh;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.alogout>a:hover{
  color: black;
  border-radius: 4px;
}

.info{
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.info>span{
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.info input {
  width: 270px;
  background-color: transparent;
  border: 1px solid yellowgreen;
  padding: 5px;
  padding-left: 8px;
  outline: none;
}
span .uedit {
  display: flex;
  align-items: end;
  justify-content: end;
}
.aboutedit {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding: 15px;
  gap: 40px;
}
.aboutedit textarea {
  padding-left: 6px;
  width: 322px;
  height: 77px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #ffdb00;
  box-shadow: 0px 0px 9px 1px #ff7c00;
}
.aboutedit textarea:focus {
  outline-color: yellow;
}
.editprofile {
  display: flex;
  background-color: white;
  width: 23px;
  height: 23px;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  border: 1px solid yellowgreen;
  border-radius: 50%;
}
.editprofile:hover {
  box-shadow: 0px 0px 4px 1px gray;
}
.editprofile > img {
  width: 20px;
  height: 20px;
}

.bio button {
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
  width: 170px;
  background-color: #0420aa;
  color: white;
  border: none;
  border-radius: 7px;
  transition: all ease-in-out 0.3s;
}
.bio button:hover {
  opacity: 90%;
  border-radius: 2px;
}
.tolinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.tolink {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
.tolink img {
  width: 23px;
  height: 23px;
}
.tolink input {
  padding-left: 6px;
  width: 270px;
  background-color: transparent;
  border: none;
}
.tolink > input:focus {
  outline-color: blue;
}
.tolink > button {
  cursor: pointer;
  height: 27px;
  background-color: transparent;
  border: none;
  transition: all ease-in-out 0.2s;
}
.tolink > button:hover {
  opacity: 60%;
}

.postview{
  width: 100%;
  margin: 20px;
  display: flex;
  gap: 30px;
}
.postview>.view>img{
  width: 400px;
  border-radius: 10px;
}
.view{
  transform: translateX(0%);
  width: fit-content;
}
.postview>.view>.btn{
  width: auto;
  margin: 0;
}
.postview>.view>.com{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.postview>.view>.ucom{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
.commentss{
  margin-top: 10px;
}
.delete{
  background-color:red;
  padding: 1.4vh;
  border-radius: 10px;
  border: none;
  width: fit-content;
  margin: 8px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.delete:hover{
  border-radius: 4px;
}
/* -------Loading bar------------ */
#loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px; 
  background-color: #abff3d;
  z-index: 9999;
}

/* responsive */
/* responsive for height for Tablet */
@media only screen and (max-width: 1200px) {
  /* header */
  .header {
    padding: 10px;
  }
  .aboutus {
    margin-right: 30px;
    font-size: 10px;
    letter-spacing: 2px;
  }
  .logo {
    padding-left: 8px;
  }
  .logo h1 {
    font-size: 17px;
  }
  .logo h4 {
    font-size: 9px;
  }

  /* navbar */
  .navbar {
    margin: 0;
    padding: 0;
    display: flex;
    top: 0;
    width: 100%;
    position: fixed;
    transition: all ease-in-out 0.3s;
    z-index: 5;
    transform: translateY(95vh);
    justify-content: flex-start;
    bottom: 0;
  }
  .navbar div {
    width: 80px;
    height: 50px;
  }
  .imge > img {
    margin: 0;
  }
  .navbar ul {
    display: flex;
    padding: 8px;
    width: 100%;
    background-color: #e3e3e3;
    border-radius: 0px 10px 10px 0px;
    justify-content: center;
    align-items: start;
    flex-direction: row;
  }
  .navbar li {
    display: none;
  }
  .navbar .line {
    display: none;
  }
  .imge {
    text-align: center;
  }

  /* footer */
  .footer {
    display: none;
  }

  /* conatiner */
  .container {
    width: 98%;
    top: 76px;
    left: 0px;
    overflow-y: scroll;
    margin: 0px;
    border-radius: 10px;
    bottom: 4vh;
    height: auto;
  }
  .container:hover {
    box-shadow: none;
  }
  .userinfo {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #post img,
  video {
    border-radius: 20px;
    height: 320px;
  }
  .container .btn {
    width: 94%;
    margin-left: 0;
  }
  .container .commentbox {
    width: 94%;
    margin-top: 9px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .container .brake {
    width: 96%;
    margin-left: 5px;
  }

  /* search */
  .searchbar {
    justify-content: none;
  }
  .inputsearch {
    width: 60vh;
  }
  .inputsearch:focus {
    width: 61vh;
    padding-left: 12px;
  }
  .inputsearch:hover {
    width: 61vh;
    padding-left: 12px;
  }
  .searchbar .btn-search:hover {
    margin-left: 2px;
  }
  .searchoutput .accountbox {
    width: 40vh;
  }
  .search .line {
    width: 98%;
  }

  /* Dashboard */
  .user-account {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;
    height: 110px;
  }

  /* postsection */
  .post-section {
    gap: 17px;
  }
  .post img {
    height: 200px;
    width: 200px;
    object-fit: fill;
  }
}
@media only screen and (max-width: 780px) {
  .aboutedit {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    padding: 15px;
    gap: 40px;
  }
  .postview {
    flex-direction: column;
}
}

/* responsive for height for mobile */
@media screen and (max-width: 465px) {
  .post {
    display: flex;
    width: 86px;
    height: 106px;
    border-radius: 20px;
    overflow: hidden;
}
.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  top: 0;
  width: 100%;
  position: fixed;
  transition: all ease-in-out 0.3s;
  z-index: 5;
  transform: translateY(93vh);
  justify-content: flex-start;
  bottom: 0;
}
.container {
  width: 98%;
  top: 76px;
  left: 0px;
  overflow-y: scroll;
  margin: 0px;
  border-radius: 10px;
  bottom: 7vh;
  height: auto;
}
.searchoutput .accountbox {
  width: 30vh;
}
.inputsearch {
  width: 30vh;
}
.inputsearch:focus {
  width: 31vh;
  padding-left: 12px;
}
.inputsearch:hover {
  width: 31vh;
  padding-left: 12px;
}
.search .line {
  width: 105%;
  margin-left: 0;
}
.user-account>.uinfo> img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.user-account>.uinfo>h3{
  font-size: medium;
}
.post img {
  height: 108px;
  width: 106px;
  object-fit: cover;
}
.postview {
  flex-direction: column;
}
.postview>.view>img{
  width: 350px;
}
.view>.btn>.button {
  width: 70px;
}
.bcom>input {
  width: 0;
}
#post video {
  border-radius: 20px;
  height: 250px;
  width: 380px;
  object-fit: cover;
}
#post img {
  border-radius: 20px;
  height: 250px;
  width: 380px;
  object-fit: contain;
}
.statics {
  grid-template-columns: auto;
  grid-template-rows: 26vh 20vh;
}
.view{
  transform: translateX(0);
}
.commentss{
  transform: translateX(1%);
}
.biohome {
  display: flex;
  margin-left: -40px;
}
.postcard .line {
  width: 98%;
  margin-left: 7px;
}

.postview>.view>.btn {
  margin-left: -28px;
}
.com {
  flex-direction: column;
}
.ucom{
  flex-direction: row;
  justify-content: space-around;
}
}
