{% extends "dashboard.html" %}
{% block title %}
{{user.username}}
{% endblock title %}

{% block static %}
<div class="imgeselected" id="dashboard">
<img src="/static/assets/svg/dashboardselected.svg" alt="" srcset="" />
  <li>Dashboard</li>
</div>
{% endblock %}


{% block dashboard %}
<style>
  .box1{
    display: flex;
  flex-direction: column;
  overflow: hidden;
  }
  .box2{
    display: flex;
    gap: 5px;
    flex-direction: column;
    overflow: hidden;
  }
  .s{
    display: flex;
    align-items: center;
  }
  table{
    text-align: center;
  }
  .fpopup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
</style>
<div class="welname"><h3>Welcome&nbsp;{{ user.first_name }}&nbsp;{{ user.last_name }}</h3></div>
<div class="dashboard">
<div class="user-account">
    <span class="uinfo"><img
      src="Gallery/{{ user.profile_pic}}"
      alt=""
      srcset=""
      class="Page-profile"
    />
    <h3 class="Page-name">&nbsp;{{ user.username }}
      <p class="user-name">&nbsp;created by @{{ user.first_name }}&nbsp;{{ user.last_name }}</p>
    </h3>
  </span>
    <span class="followers-count">
      {% if user_followers == 0 or user_followers == 1 %}
        <b style="display: flex; flex-direction: column; text-align: center;">
          {{user_followers}} <span>Follower</span>
        </b>
      {% else %}
        <b style="display: flex; flex-direction: column; text-align: center;">
          {{user_followers}} <span>Followers</span>
        </b>
      {% endif %}
    </span>
  </div>
  <div class="about">
    <div class="bio">
      <p>{% for i in profile %}{{i.bio}}{% endfor %}</p>  
      </p>
    </div>
    <div id="links" class="links">
      {% for i in profile %}
      <a href="https://mail.google.com/mail/u/0/?fs=1&to={{user.email}}&su=Booking Request for Show on [Date] at [Time]&body=Dear {{user.username}},&tf=cm" target="_blank"
        ><div id="Gmail" class="link">
          <img
            src="/static/assets/svg/gmaillogo.svg"
            alt=""
            srcset=""
          /></div
      ></a>
      {% if i.facebook %}
      <a href="{{i.facebook}}" target="_blank"
        ><div id="facebook" class="link">
          <img
            style="width: 24px; height: 24px;"
            src="/static/assets/svg/facebook.svg"
            alt=""
            srcset=""
          /></div
      ></a>
      {% else %}
      {% endif %}
      {% if i.instagram %}
      <a href="{{i.instagram}}" target="_blank"
        ><div id="Instagram" class="link">
          <img
            src="/static/assets/svg/instagramlogo.svg"
            alt=""
            srcset=""
          /></div
      ></a>
      {% else %}
      {% endif %}
      {% if i.youtube %}
      <a href="{{i.youtube}}" target="_blank"
        ><div id="Youtube" class="link">
          <img
            src="/static/assets/svg/youtubelogo.svg"
            alt=""
            srcset=""
          /></div
      ></a>
      {% else %}
      {% endif %}
      {% endfor %}
    </div>
    <div class="address">
      <img src="/static/assets/svg/locationlogo.svg" alt="" srcset="" />
      <h4 id="location" class="location">{% for i in profile %}{{i.location}}{% endfor %}</h4>
    </div>
  </div>
  <div class="statics">
    {% if user_posts  %}
      <div class="box1">Recent Posts<br>
        <table>
          <tr>
              <th>Post</th>
              <th>Likes</th>
              <th>Shares</th>
          </tr>
          {% for ps in user_posts %}
          <tr>
              <td><a style="text-decoration: none; color: black;" href="/userpost/{{ps.id}}">
                {% if ps.video %}
                  <video style="width: 28px; height: 28px; margin: 4px; border-radius: 3px;" src="{{ ps.video.url }}"></video>
                {% else %}
                  <img style=" width: 28px; height: 28px; margin: 4px; border-radius: 3px;" src="{{ ps.content.url }}" alt="" srcset="">
                {% endif %}
              </a></td>
              <td>{{ps.no_of_likes}}</td>
              <td>{{ps.no_of_share}}</td>
          </tr>
          {% endfor%}
      </table>
    </div>
    {% else %}
    <div class="box1">No Posts</div>
    {% endif %}
    {% if user_follower %}
      <div onclick="openPopupfollow()" class="box2">New Followers <br>
        <b>{% for f in user_follower %}{{ f.follower }}<br>{% endfor %}</b>
      </div>
      {% else %}
      <div onclick="openPopupfollow()" class="box2">No Followers</div>
      {% endif %}
      <div style="width: 70%; height: 70%; overflow-y: scroll;" class="pop" id="pop2">
        <div class="fpopup">
          {% if user_followers == 0 %}
            <b>No Follower</b>
          {% elif user_followers == 1 %}
            <b>Total: {{user_followers}} Follower</b>
          {% else %}
            <b>Total: {{user_followers}} Followers</b>
          {% endif %}
            <button class="close" id="close" onclick="closePopupfollow()">
              <img src="/static/assets/svg/cancel.svg" alt="" srcset="">
            </button>
        </div>
        {% for f in user_follower %}{{ f.follower }}<br>{% endfor %}
      </div>
      <div class="box4">Upload a Post
        <div class="btnadd">
        <button onclick="openPopupimg()" class="addimage" ><img src="static/assets/svg/uploadimg.svg" alt="" srcset=""></button>
        <button onclick="openPopupvideo()" class="addvideo" ><img src="static/assets/svg/uploadvideo.svg" alt="" srcset=""></button>
        <div id="overlay"></div>
        <div class="pop" id="pop">
          <div class="popup">
        <form action="{% url 'uploadpost' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <label>Upload an Image</label><br />
            <label for="">Caption for Photo </label><textarea name="caption" id="caption"></textarea>
            <input type="file" name="content" id="files" accept=".jpg" /><br/>
            <button id="uploadim" type="submit">Upload</button>
          </form>
          <button class="close" id="close" onclick="closePopupimg()"><img src="/static/assets/svg/cancel.svg" alt="" srcset=""></button>
        </div>
          </div>
          <div class="pop" id="pop1">
            <div class="popup">
              <form action="{% url 'uploadvideo' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Upload an Video</label><br/>
                <label for="">Caption for Video </label><textarea name="caption" id="caption"></textarea>
                <input type="file" name="video" id="files" accept=".mp4" /><br />
                <button id="uploadim" type="submit">Upload</button>
                </form>
                <button class="close" id="close" onclick="closePopupvideo()"><img src="/static/assets/svg/cancel.svg" alt="" srcset=""></button>
            </div>
          </div>
      </div>
      </div>
  </div>
</div>
{% endblock %}