{% extends "dashboard.html" %}
{% block title %}Edit Account{% endblock title %}

{% block editaccount %}
    <div class="imgeselected" id="account">
        <img src="/static/assets/svg/profileselected.svg" alt="" srcset="" />
        <li>Edit Account</li>
    </div>
{% endblock %}

{% block dashboard %}
<div class="dashboard">
  <div class="msgerror">
    <style>
        h5{
            text-align: center;
            color: rgb(0, 255, 26);
        }
    </style>
    {% if messages %}
    {% for message in massages %}
      {% if messages == 'success'%}
    <h5>{{message}}</h5>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
  <div class="msgerror">
      <style>
          h5{
              text-align: center;
              color: red;
          }
      </style>
      {% if messages %}
        {% if messages == 'error'%}
      <h5>{{message}}</h5>
      {% endif %}
      {% endif %}
  </div>
  <div class="user-account">
      <span class="uinfo"><img
        src="Gallery/{{ user.profile_pic}}"
        alt=""
        srcset=""
        class="Page-profile"
      />
      <h3 class="Page-name">
        &nbsp;{{ user.username }}
        <p class="user-name">&nbsp;created by @{{ user.first_name }}&nbsp;{{ user.last_name }}</p>
      </h3></span>
    </div><p>&nbsp;&nbsp;&nbsp;{% for i in profile %}{{i.bio}} {% endfor %}</p>
    <div class="address">&nbsp;&nbsp;&nbsp;
      <img src="/static/assets/svg/locationlogo.svg" alt="" srcset="" />
      <h4 id="location" class="location">{% for i in profile %}{{i.location}} {% endfor %}</h4>
    </div>
    <form action="/profileupdate" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>Change your details</h3>
      <div class="aboutedit">
      <div class="info">
        <span>Natymandal Name <input disabled type="text" name="username" id="username" placeholder="Update Natya Mandal Name" value="{{ user.username}} " ></span>
        <span>First Name <input disabled type="text" name="first_name" id="first_name" placeholder="Update First Name" value="{{ user.first_name}} " ></span>
        <span>Last Name <input disabled type="text" name="last_name" id="last_name" placeholder="Update Last Name" value="{{ user.last_name}} " > </span>
        <span>Profile Picture <input type="file"  name="profile_pic" id="profile_pic" accept=".jpg" ></span>
        <span>Location <input disabled type="text" name="location" id="location" placeholder="Update Location" value="{% for i in profile %}{{i.location}} {% endfor %}"></span>
      </div>
      <div>
      <div class="bio">
        <p>
          <textarea placeholder="{% for i in profile %}{{i.bio}} {% endfor %}"  name="bio" id="biobox" placeholder="Enter Bio upto 250 worlds."></textarea>
        </p>
      </div>
      <div id="links" class="tolinks">
            <div id="whatsapp" class="tolink">
            <img
              src="/static/assets/svg/whatsapp.svg"
              alt=""
              srcset=""
            /><input type="text" name="whatsapp" placeholder="Enter Whatsapp Number"></div>
            <div id="facebook" class="tolink">
            <img
              src="/static/assets/svg/facebook.svg"
              alt=""
              srcset=""
            /><input type="text" name="facebook" placeholder="Enter Facebook Link"></div>
            <div id="Instagram" class="tolink">
            <img
              src="/static/assets/svg/instagramlogo.svg"
              alt=""
              srcset=""
            /><input type="text" name="instagram" placeholder="Enter Instagram Link"></div>
            <div id="Youtube" class="tolink">
            <img
              src="/static/assets/svg/youtubelogo.svg"
              alt=""
              srcset=""
            /><input type="text" name="youtube" placeholder="Enter Youtube Link"></div>
      </div>
    </div>
  </div>
    <button id="uploadim" type="submit">Update Profile</button>
  </form>
  <div class="alogout">
  <a href="{% url 'logout' %}">Logout</a>
  <a href="">delete</a>
  </div>
  </div>
{% endblock %}