{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utility.css' %}" />
    <link
      rel="shortcut icon"
      href="/static/assets/svg/icon.svg"
      type="image/x-icon"
    />
    <title>{% block title %}{% endblock title %} | Dashavatar Social media Website</title>
  </head>

  <body>
    <div id="loading-bar"></div>
    <header class="header">
      <div class="logo">
        <h1 id="wname">DASHAVATAR</h1>
        <h4 id="wtagline">Social Media Website</h4>
      </div>
      <a class="aboutus" href="{% url 'logout' %}"><img src="/static/assets/svg/logout.svg" alt="" srcset="" class="logout">Logout
      </a>
    </header>
    <nav class="navbar">
      <ul>
        {% block static %}
        <a href="/dashboard"><div class="imge" id="dashboard">
          <img src="/static/assets/svg/dashboard.svg" alt="" srcset="" />
          <li>Dashboard</li>
        </div></a>
        {% endblock %}
        {% block seeposts %}
        <a href="/seepost"><div class="imge" id="upload-post">
          <img src="/static/assets/svg/seeposts.svg" alt="" srcset="" />
          <li>My Posts</li>
        </div></a>
        {% endblock %}
        {% block editaccount %}
        {% if user.profile_pic.url is not None %}
        <a href="/editaccount"><div class="imge" id="account">
            <img style="width: 25px; height: 25px; border-radius: 50%;" src="Gallery/{{ user.profile_pic}}" alt="" srcset="" />
            <li>Edit Account</li>
          </div></a>

        {% else %}

        <a href="/editaccount"><div class="imge" id="account">
          <img src="/static/assets/svg/profile.svg" alt="" srcset="" />
          <li>Edit Account</li>
        </div></a>

        {% endif %}
        {% endblock %}
      </ul>
      <div class="line"></div>
    </nav>
    <div class="container">
      {% block dashboard %}

      {% endblock %}
    </div>
    <footer class="footer">
      <p>&copy; 2024 Dashavatar Social Media Website.</p>
    </footer>
  </body>

  <script src="{% static 'js/app.js' %}"></script>
</html>
