{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utility.css' %}" />
    <link
      rel="shortcut icon"
      href="/static/assets/svg/icon.svg"
      type="image/x-icon"
    />
    <title>DASHAVATAR | Social media Website</title>
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <h1 id="wname">DASHAVATAR</h1>
        <h4 id="wtagline">Social Media Website</h4>
      </div>
      <div class="aboutus">
        <img src="/static/assets/svg/aboutus.svg" alt="" srcset="" />About us
      </div>
    </div>
    <div class="navbar">
      <ul>
        <div class="imge" id="dashboard">
          <img src="/static/assets/svg/dashboard.svg" alt="" srcset="" />
          <li>Dashboard</li>
        </div>
        <div class="imge" id="upload-post">
          <img src="/static/assets/svg/uploadpost.svg" alt="" srcset="" />
          <li>Upload post</li>
        </div>
        <div class="imge" id="account">
          <img src="/static/assets/svg/profile.svg" alt="" srcset="" />
          <li>My Account</li>
        </div>
      </ul>
      <div class="line"></div>
    </div>
    <div class="container">
      <div class="dashboard">
        <div class="user-account">
          <img
            src="/static/assets/img/pp.webp"
            alt=""
            srcset=""
            class="Page-profile"
          />
          <h3 class="Page-name">
            PageName
            <p class="user-name">created by <a href="#">@username</a></p>
          </h3>
          <span class="followers-count"
            >135K+
            <h6>Followers</h6>
          </span>
        </div>
        <div class="about">
          <div class="bio">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Doloribus, voluptates quae. Accusamus perferendis neque inventore,
              eaque voluptas molestiae praesentium impedit.
            </p>
          </div>
          <div id="links" class="links">
            <a href="mailto:" target="_blank"
              ><div id="Gmail" class="link">
                <img
                  src="/static/assets/svg/gmaillogo.svg"
                  alt=""
                  srcset=""
                /></div
            ></a>
            <a href="tel:+" target="_blank"
              ><div id="whatsapp" class="link">
                <img
                  src="/static/assets/svg/whatsapp.svg"
                  alt=""
                  srcset=""
                /></div
            ></a>
            <a href="http://" target="_blank"
              ><div id="Instagram" class="link">
                <img
                  src="/static/assets/svg/instagramlogo.svg"
                  alt=""
                  srcset=""
                /></div
            ></a>
            <a href="http://" target="_blank"
              ><div id="Youtube" class="link">
                <img
                  src="/static/assets/svg/youtubelogo.svg"
                  alt=""
                  srcset=""
                /></div
            ></a>
          </div>
          <div class="address">
            <img src="/static/assets/svg/locationlogo.svg" alt="" srcset="" />
            <h4 id="location" class="location">Redi,Vengurla</h4>
          </div>
        </div>
        <h3 id="posts-h3">Posts</h3>
        <div class="post-section">
          <div class="post">
            <img
              src="/static/assets/img/free-photo-of-a-close-up-of-a-br (1).jpg"
              alt=""
              srcset=""
            />
          </div>
          <div class="post">
            <img
              src="/static/assets/img/pexels-photo-13387004.jpg"
              alt=""
              srcset=""
            />
          </div>
          <div class="post">
            <img
              src="/static/assets/img/free-photo-of-a-close-up-of-a-br.jpg"
              alt=""
              srcset=""
            />
          </div>
          <div class="post">
            <img
              src="/static/assets/img/free-photo-of-a-photo-of-a-house.jpg"
              alt=""
              srcset=""
            />
          </div>
          <div class="post">
            <img
              src="/static/assets/img/pexels-wandering-bo-17673409.jpg"
              alt=""
              srcset=""
            />
          </div>
          <div class="post">
            <img
              src="/static/assets/img/pexels-photo-13387004.jpg"
              alt=""
              srcset=""
            />
          </div>
          <div class="post">
            <img
              src="/static/assets/img/free-photo-of-a-photo-of-a-house.jpg"
              alt=""
              srcset=""
            />
          </div>
          <div class="post">
            <img
              src="/static/assets/img/pexels-wandering-bo-17673409.jpg"
              alt=""
              srcset=""
            />
          </div>
          <div class="post">
            <img
              src="/static/assets/img/pexels-wandering-bo-17673409.jpg"
              alt=""
              srcset=""
            />
          </div>
          <div class="post">
            <img
              src="/static/assets/img/pexels-photo-13387004.jpg"
              alt=""
              srcset=""
            />
          </div>
          <div class="post">
            <img
              src="/static/assets/img/free-photo-of-a-photo-of-a-house.jpg"
              alt=""
              srcset=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>&copy; 2024 Dashavatar Social Media Website.</p>
    </div>
  </body>
</html>
