{% extends "dashboard.html" %} {% block title %}Posts{% endblock title %} 
{% block seeposts %}
  <div class="imgeselected" id="upload-post">
    <img src="/static/assets/svg/seepostselected.svg" alt="" srcset="" />
    <li>See Posts</li>
  </div>
{% endblock %}
{% block dashboard %}
  <h3 id="posts-h3">Posts</h3>
  <div class="post-section">
    {% for p in post %}
    <div class="post">
      <img
        src="/Gallery/{{ p.content}}"
        alt=""
        srcset=""
      />
    </div>
    {% endfor %}
  </div>
{% endblock %}
