{% extends "dashboard.html" %} {% block title %}Posts{% endblock title %} 
{% block seeposts %}
  <div class="imgeselected" id="upload-post">
    <img src="/static/assets/svg/seepostselected.svg" alt="" srcset="" />
    <li>See Posts</li>
  </div>
{% endblock %} {% block dashboard %}
<h3 id="posts-h3">Posts</h3>
<div class="post-section">
  <div class="post">
    <img
      src="/static/assets/img/free-photo-of-a-close-up-of-a-br (1).jpg"
      alt=""
      srcset=""
    />
  </div>
  <div class="post">
    <img src="/static/assets/img/pexels-photo-13387004.jpg" alt="" srcset="" />
  </div>
  <div class="post">
    <img
      src="/static/assets/img/free-photo-of-a-close-up-of-a-br.jpg"
      alt=""
      srcset=""
    />
  </div>
  <div class="post">
    <img
      src="/static/assets/img/free-photo-of-a-photo-of-a-house.jpg"
      alt=""
      srcset=""
    />
  </div>
  <div class="post">
    <img
      src="/static/assets/img/pexels-wandering-bo-17673409.jpg"
      alt=""
      srcset=""
    />
  </div>
  <div class="post">
    <img src="/static/assets/img/pexels-photo-13387004.jpg" alt="" srcset="" />
  </div>
  <div class="post">
    <img
      src="/static/assets/img/free-photo-of-a-photo-of-a-house.jpg"
      alt=""
      srcset=""
    />
  </div>
  <div class="post">
    <img
      src="/static/assets/img/pexels-wandering-bo-17673409.jpg"
      alt=""
      srcset=""
    />
  </div>
  <div class="post">
    <img
      src="/static/assets/img/pexels-wandering-bo-17673409.jpg"
      alt=""
      srcset=""
    />
  </div>
  <div class="post">
    <img src="/static/assets/img/pexels-photo-13387004.jpg" alt="" srcset="" />
  </div>
  <div class="post">
    <img
      src="/static/assets/img/free-photo-of-a-photo-of-a-house.jpg"
      alt=""
      srcset=""
    />
  </div>
</div>
{% endblock %}
