{% extends "index.html" %} 
{% block title %}Home{% endblock title %}
 
{% block Home %}
<div class="imgeselected" id="home">
  <img src="/static/assets/svg/homeselected.svg" alt="" srcset="" />
  <li>Home</li>
</div>
{% endblock %} 

{% block contain %}
  <div class="postcard">
        {% for p in post %}
      <div class="userinfo">
        <a href="/profile/{{p.profile}}">
          <img
            class="userprofilepic"
            src="{{ p.profile.user.profile_pic.url }}"
            alt=""
            srcset=""
          />
          <span class="userprofile"
            ><h4 id="username">{{p.profile}}</h4>
            <p id="date">{{ p.created_at }}</p></span
          >
        </a>
  
      </div>
      <div id="post">
        <img src="{{ p.content.url }}" alt="img" srcset="" />
      </div>
      <div class="btn">
        <a style="text-decoration: none;" href="/likepost?post_id={{p.id}}">
        <button class="button" id="like">
          <img src="/static/assets/svg/like.svg" alt="" srcset="" />
          {% if p.no_of_likes == 0 %}
          <p></p>
          {% else %}
          <p>&nbsp;{{p.no_of_likes}}</p>
          {% endif %}
        </button></a>
        <a href="/postview/{{p.id}}"><button class="button" id="comment">
          <img src="/static/assets/svg/comment.svg" alt="" srcset="" />
        </button></a>
        <a style="text-decoration: none;" href="/share?post_id={{p.id}}"><button onclick="openPopupimg()" class="button" id="share">
          <img src="/static/assets/svg/share.svg" alt="" srcset="" />
          {% if p.no_of_share == 0 %}
          <p></p>
          {% else %}
          <p>&nbsp;{{p.no_of_share}}</p>
          {% endif %}
        </button></a>
      </div>
      {% if p.caption  %}
      <b class="biohome"><span style="opacity: 70%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@{{p.profile}}&nbsp;&nbsp;</span>{{p.caption}} </b>
      {% else %}
      <b class="biohome"></b>
      {% endif %}
      <div class="line"></div>
      <div id="overlay"></div>
      <div class="pop" id="pop">
        <div class="popup">
      <h3>Share Link: <h4>http://127.0.0.1:8000/postview/{{p.id}}"</h4></h3>
        <button class="close" id="close" onclick="closePopupimg()"><img src="/static/assets/svg/cancel.svg" alt="" srcset=""></button>
      </div>
        </div>
      <form style="display: block;" action="/comment" method="post">
        {% csrf_token %}
      <div id="bcom" class="bcom">
        <input type="hidden" value="{{user.first_name}}&nbsp;{{user.last_name}}" name="user">
        <input type="hidden" value="{{p.id}}" name="post_id">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comment&nbsp;&nbsp;&nbsp;
        <input placeholder="leave a comment" class="comment-b2" type="text" name="comment" id="comment">
        <button type="submit"><img src="/static/assets/svg/comsend.svg" alt="" srcset=""></button>
    </div>
  </form>
      <div class="line"></div>
      {% endfor %}
  </div>
  <!-- <div class="brake"></div> -->
{% endblock %}
