{% extends "index.html" %} 
{% block title %}Home{% endblock title %}
 
{% block Home %}
<div class="imgeselected" id="home">
  <img src="/static/assets/svg/homeselected.svg" alt="" srcset="" />
  <li>Home</li>
</div>
{% endblock %} 

{% block contain %}
  <div class="postcard">
        {% for p in post %}
      <div class="userinfo">
        <a href="/profile/{{p.profile}}"
          ><img
            class="userprofilepic"
            src="{{user_profile.user.profile_pic.url}}"
            alt=""
            srcset=""
          />
          <span class="userprofile"
            ><h4 id="username">{{p.profile}}</h4>
            <p id="date">{{ p.created_at }}</p></span
          >
        </a>
  
      </div>
      <div id="post">
        <img src="/Gallery/{{ p.content }}" alt="img" srcset="" />
      </div>
      <div class="btn">
        <a style="text-decoration: none;" href="/likepost?post_id={{p.id}}">
        <button class="button" id="like">
          <img src="/static/assets/svg/like.svg" alt="" srcset="" />
          {% if p.no_of_likes == 0 %}
          <p></p>
          {% else %}
          <p>{{p.no_of_likes}}</p>
          {% endif %}

        </button></a>
        <button class="button" id="comment">
          <img src="/static/assets/svg/comment.svg" alt="" srcset="" />
        </button>
        <button class="button" id="share">
          <img src="/static/assets/svg/share.svg" alt="" srcset="" />
        </button>
      </div>
      {% if p.caption != null  %}
      <b class="biohome"><span style="opacity: 70%;">@{{p.profile}}&nbsp;&nbsp;</span>{{p.caption}} </b>
      {% else %}
      <b class="biohome"></b>
      {% endif %}
      <div class="line"></div>
      <div class="commentbox">
        <a href="#">
          <h4 class="viewername">@viewername</h4></a
        >
        <p class="ctext">Hi Hello how are you</p>
      </div>
      {% endfor %}
  </div>
  <div class="brake"></div>
{% endblock %}
