{% extends "index.html" %} 
{% block title %}Home{% endblock title %}
 
{% block Home %}
<div class="imgeselected" id="home">
  <img src="/static/assets/svg/homeselected.svg" alt="" srcset="" />
  <li>Home</li>
</div>
{% endblock %} 

{% block contain %}
  <div class="postcard">
    {% for u in User %}
      <div class="userinfo">
        <a href="#"
          ><img
            class="userprofilepic"
            src="{{ u.profile_pic.url }}"
            alt=""
            srcset=""
          />
          <span class="userprofile"
            ><h4 id="username">{{ u.page_name }}</h4>
            <p id="date">{{ u.date }}</p></span
          >
        </a>
        <button class="btn-follow" id="follow">
          <img src="/static/assets/svg/follow.svg" alt="" srcset="" />
          Follow
        </button>
      </div>
      <b>{{ u.caption }}</b>
      <div id="post">
        {% if Post != null %}
        <img src="{{ Post.post.url }}" alt="img" srcset="" />
        {% endif %}
      </div>
      <div class="btn">
        <button class="button" id="like">
          <img src="/static/assets/svg/like.svg" alt="" srcset="" />
        </button>
        <button class="button" id="comment">
          <img src="/static/assets/svg/comment.svg" alt="" srcset="" />
        </button>
        <button class="button" id="share">
          <img src="/static/assets/svg/share.svg" alt="" srcset="" />
        </button>
      </div>
      <div class="line"></div>
      <div class="commentbox">
        <a href="#"
          ><img
            class="viewerprofilepic"
            src="/static/assets/img/pp.webp"
            alt=""
            srcset=""
          />
          <h4 class="viewername">@viewername</h4></a
        >
        <p class="ctext">Hi Hello how are you</p>
      </div>
      {% endfor %}
  </div>
  <div class="brake"></div>
{% endblock %}
