{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utility.css' %}" />
    <link
      rel="shortcut icon"
      href="/static/assets/svg/icon.svg"
      type="image/x-icon"
    />
    <title>{% block title %}{% endblock title %} | Dashavatar Social media Website</title>
  </head>


  <body>
    <div class="header">
      <div class="logo">
        <h1 id="wname">DASHAVATAR</h1>
        <h4 id="wtagline">Social Media Website</h4>
      </div>
      <div class="aboutus">
        <img src="/static/assets/svg/aboutus.svg" alt="" srcset="" />About us
      </div>
    </div>
    <div class="navbar">
      <ul>
        <div class="imge" id="home">
          <img src="/static/assets/svg/home.svg" alt="" srcset="" />
          <li>Home</li>
        </div>
        <div class="imge" id="search">
          <img src="/static/assets/svg/search.svg" alt="" srcset="" />
          <li>Search</li>
        </div>
        <div class="imge" id="account">
          <img src="/static/assets/svg/profile.svg" alt="" srcset="" />
          <li>My Account</li>
        </div>
      </ul>
      <div class="line"></div>
    </div>
    <!-- post1 -->
    <div class="container">
      {% block contain %}
      {% endblock %}
    </div>
    <!-- Footer  -->
    <div class="footer">
      <p>&copy; 2024 Dashavatar Social Media Website.</p>
    </div>
  </body>
  <script src="{% static 'js/app.js' %}"></script>
  </html>
