{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'utility.css' %}" />
    <link
      rel="shortcut icon"
      href="/static/assets/svg/icon.svg"
      type="image/x-icon"
    />
    <title>DASHAVATAR | Social media Website</title>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <h1 id="wname">DASHAVATAR</h1>
        <h4 id="wtagline">Social Media Website</h4>
      </div>
      <div class="aboutus">
        <img src="/static/assets/svg/aboutus.svg" alt="" srcset="" />About us
      </div>
    </div>
    <div class="navbar">
      <ul>
        <div class="imge" id="home">
          <img src="/static/assets/svg/home.svg" alt="" srcset="" />
          <li>Home</li>
        </div>
        <div class="imge" id="search">
          <img src="/static/assets/svg/search.svg" alt="" srcset="" />
          <li>Search</li>
        </div>
        <div class="imge" id="account">
          <img src="/static/assets/svg/profile.svg" alt="" srcset="" />
          <li>My Account</li>
        </div>
        <div class="imge" id="setting">
          <img src="/static/assets/svg/setting.svg" alt="" srcset="" />
          <li>Setting</li>
        </div>
      </ul>
      <div class="line"></div>
    </div>
    <!-- post1 -->
    <div class="container">
      <!-- <div class="postcard">
        <div class="userinfo">
          <a href="#"><img
            class="userprofilepic"
            src="/static/assets/img/pp.webp"
            alt=""
            srcset=""
          />
          <span class="userprofile"
            ><h4 id="username">UserName</h4>
            <p id="date">Date:</p></span>
          </a>
          <button class="btn-follow" id="follow">
            <img src="/static/assets/svg/follow.svg" alt="" srcset="" />
            Follow
          </button>
        </div>
        <div id="post"><img
          src="/static/assets/img/peakpx (11).jpg"
          alt=""
          srcset=""
        /></div>
        <div class="btn">
          <button class="button" id="like">
            <img src="/static/assets/svg/like.svg" alt="" srcset="" />
          </button>
          <button class="button" id="comment">
            <img src="/static/assets/svg/comment.svg" alt="" srcset="" />
          </button>
          <button class="button" id="share">
            <img src="/static/assets/svg/share.svg" alt="" srcset="" />
          </button>
        </div>
        <div class="line"></div>
        <div class="commentbox">
          <a href="#"><img
            class="viewerprofilepic"
            src="/static/assets/img/pp.webp"
            alt=""
            srcset=""
          />
          <h4 class="viewername">@viewername</h4></a>
          <p class="ctext">Hi Hello how are you</p>
        </div>
      </div>
      <div class="brake"></div> -->
      <!-- post2 -->
      <!-- <div class="postcard">
        <div class="userinfo">
          <a href="#"><img
            class="userprofilepic"
            src="/static/assets/img/pp.webp"
            alt=""
            srcset=""
          />
          <span class="userprofile"
            ><h4 id="username">UserName</h4>
            <p id="date">Date|</p></span>
          </a>
          <button class="btn-follow" id="follow">
            <img src="/static/assets/svg/follow.svg" alt="" srcset="" />Follow
          </button>
        </div>
        <div id="post"><img
          src="/static/assets/img/peakpx (11).jpg"
          alt=""
          srcset=""
        /></div>
        <div class="btn">
          <button class="button" id="like">
            <img src="/static/assets/svg/like.svg" alt="" srcset="" />
          </button>
          <button class="button" id="comment">
            <img src="/static/assets/svg/comment.svg" alt="" srcset="" />
          </button>
          <button class="button" id="share">
            <img src="/static/assets/svg/share.svg" alt="" srcset="" />
          </button>
        </div>
        <div class="line"></div>
        <div class="commentbox">
          <a href="#"><img
            class="viewerprofilepic"
            src="/static/assets/img/pp.webp"
            alt=""
            srcset=""
          />
          <h4 class="viewername">@viewername</h4></a>
          <p class="ctext">Hi Hello how are you</p>
        </div>
      </div>
      <div class="brake"></div>-->

      <!-- Search Section -->
      <!-- <div class="search">
      <div class="searchbar">
      <input class="inputsearch" id="searchtext" type="text" placeholder="Search...">
      <button class="btn-cancel" id="cancel"><img src="/static/assets/svg/cancel.svg" alt="" srcset=""></button>
      </div>
      <div class="line"></div>
      <div class="searchoutput">
        <div class="accountbox"><a href="#"><img
          class="userprofilepic"
          src="/static/assets/img/pp.webp"
          alt=""
          srcset=""
        />
        <span class="userprofile"
          ><h4 id="username">UserName</h4>
        </a>
        <button class="btn-follow" id="follow">
          <img src="/static/assets/svg/follow.svg" alt="" srcset="" />Follow
        </button></div>
        <div class="accountbox"><a href="#"><img
          class="userprofilepic"
          src="/static/assets/img/pp.webp"
          alt=""
          srcset=""
        />
        <span class="userprofile"
          ><h4 id="username">UserName</h4>
        </a>
        <button class="btn-follow" id="follow">
          <img src="/static/assets/svg/follow.svg" alt="" srcset="" />Follow
        </button></div>
        <div class="accountbox"><a href="#"><img
          class="userprofilepic"
          src="/static/assets/img/pp.webp"
          alt=""
          srcset=""
        />
        <span class="userprofile"
          ><h4 id="username">UserName</h4>
        </a>
        <button class="btn-follow" id="follow">
          <img src="/static/assets/svg/follow.svg" alt="" srcset="" />Follow
        </button></div>
    </div>
    </div> -->
      <!-- -----myaccount---- -->
      <div class="dashboard">
        <div class="user-account">
          <img
            src="/static/assets/img/pp.webp"
            alt=""
            srcset=""
            class="Page-profile"
          />
          <h3 class="Page-name">
            PageName
            <p class="user-name">created by <a href="#">@username</a></p>
          </h3>
          <span class="followers-count"
            >135K+
            <h6>Followers</h6></span
          >
        </div>
        <h3 id="posts-h3">Posts</h3>
        <div class="post-section">
            <div class="post"><img src="/static/assets/img/free-photo-of-a-close-up-of-a-br (1).jpg" alt="" srcset=""></div>
            <div class="post"><img src="/static/assets/img/pexels-photo-13387004.jpg" alt="" srcset=""></div>
            <div class="post"><img src="/static/assets/img/free-photo-of-a-close-up-of-a-br.jpg" alt="" srcset=""></div>
            <div class="post"><img src="/static/assets/img/free-photo-of-a-photo-of-a-house.jpg" alt="" srcset=""></div>
            <div class="post"><img src="/static/assets/img/pexels-wandering-bo-17673409.jpg" alt="" srcset=""></div>
            <div class="post"><img src="/static/assets/img/pexels-photo-13387004.jpg" alt="" srcset=""></div>
            <div class="post"><img src="/static/assets/img/free-photo-of-a-photo-of-a-house.jpg" alt="" srcset=""></div>
            <div class="post"><img src="/static/assets/img/pexels-wandering-bo-17673409.jpg" alt="" srcset=""></div>
            <div class="post"><img src="/static/assets/img/pexels-wandering-bo-17673409.jpg" alt="" srcset=""></div>
            <div class="post"><img src="/static/assets/img/pexels-photo-13387004.jpg" alt="" srcset=""></div>
            <div class="post"><img src="/static/assets/img/free-photo-of-a-photo-of-a-house.jpg" alt="" srcset=""></div>
          </div>
      </div>
    </div>
    <!-- Footer  -->
    <div class="footer">
      <p>&copy; 2024 Dashavatar Social Media Website.</p>
    </div>
  </body>
  <script src="{% static 'app.js' %}"></script>
</html>
