{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/utility.css' %}" />
    <link
      rel="shortcut icon"
      href="/static/assets/svg/icon.svg"
      type="image/x-icon"
    />
    <title>{% block title %}{% endblock title %} | Dashavatar Social media Website</title>
  </head>


  <body>
    <header class="header">
      <a href="{% url 'home' %}"><div class="logo">
        <h1 id="wname">DASHAVATAR</h1>
        <h4 id="wtagline">Social Media Website</h4>
      </div></a>
        <a class="aboutus" href="{% url 'logout' %}"><img src="/static/assets/svg/logout.svg" alt="" srcset="" class="logout">Logout
        </a>
    </header>
    <nav class="navbar">
      <ul>
        {% block Home %}
        <a href="{% url 'home' %}"><div class="imge" id="home">
          <img src="/static/assets/svg/home.svg" alt="" srcset="" />
          <li>Home</li>
        </div></a>
        {% endblock %}
        {% block Search %}
        <a href="{% url 'search' %}"><div class="imge" id="search">
          <img src="/static/assets/svg/search.svg" alt="" srcset="" />
          <li>Search</li>
        </div></a>
        {% endblock %}
        {% block my-ac %}
        <a href="{% url 'account' %}"><div class="imge" id="account">
          <img src="/static/assets/svg/profile.svg" alt="" srcset="" />
          <li>My Account</li>
        </div></a>
        {% endblock %}
      </ul>
      <div class="line"></div>
    </nav>
    <!-- post1 -->
    <div class="container">
      {% block contain %}
      {% endblock %}
    </div>
    <!-- Footer  -->
    <footer class="footer">
      <p>&copy; 2024 Dashavatar Social Media Website.</p>
    </footer>
  </body>
  <script src="{% static 'js/app.js' %}"></script>
  </html>
