{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Dashavatar Social media Website</title>
    <link
    rel="shortcut icon"
    href="/static/assets/svg/icon.svg"
    type="image/x-icon"
  />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body class="color-change-2x">
        <form method="post" action="{% url 'dologin' %}">
            {% csrf_token %}
            <div class="container">
                <div>
                    <h1>LOGIN FORM</h1>
                </div>
                <div>
                    <style>
                        h5{
                            text-align: center;
                            color: red;
                        }
                    </style>
                    {% if messages %}
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                    {% endif %}
                </div>
                <label for="uname"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <button type="submit">Login</button>
            <span class="mac">
                <label for="">Don't have an account?</label><a href="newac">Sign up</a>
            </span>
        </form>
</body>
</html>