{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="shortcut icon"
    href="/static/assets/svg/icon.svg"
    type="image/x-icon"
  />
  <title>New account | Dashavatar Social media Website</title>
    <link rel="stylesheet" href="{% static 'css/newac.css' %}">
</head>
<body class="color-change-2x">
    <div class="choose">
        <a href="userregister" id="user"><img src="static/assets/svg/userprofile.svg" alt="" srcset="">Create profile as Drama Company</a>
        <a href="viewerregister" id="viewer"><img src="static/assets/svg/viewerprofile.svg" alt="" srcset="">Create profile as Viewer</a>
    </div>
</body>
</html>