{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new account</title>
    <link rel="stylesheet" href="{% static 'newac.css' %}">
</head>
<body class="color-change-2x">
    <div class="choose">
        <a href="userregister" id="user"><img src="static/assets/svg/userprofile.svg" alt="" srcset="">Create profile as Drama Company</a>
        <a href="viewerregister" id="viewer"><img src="static/assets/svg/viewerprofile.svg" alt="" srcset="">Create profile as Viewer</a>
    </div>
</body>
</html>