{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Info | Dashavatar Social media Website</title>
    <link
    rel="shortcut icon"
    href="/static/assets/svg/icon.svg"
    type="image/x-icon"
  />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
      <div class="commentbox1">
        <div class="incomment">
          <input type="text" name="comment" id="com">
          <button type="submit">Send</button>
        </div>
        <div class="othercomments">
          <div class="user">
            <span><a href="" id="usercom">viewername<p>comment</p></a></span>
          </div>
        </div>
      </div>
</body>
<script src="{% static 'js/user.js' %}"></script>
</html>