{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Info | Dashavatar Social media Website</title>
    <link
    rel="shortcut icon"
    href="/static/assets/svg/icon.svg"
    type="image/x-icon"
  />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body class="color-change-2x">
        <form method="post" action="{% url 'pagedetails' %}">
            {% csrf_token %}
            <div class="container">
                <div>
                    <h1>Page Info</h1>
                </div>
                  <b>Location</b>
              <input
                class="address"
                type="text"
                placeholder="Enter your Address"
                name="location"
                required
              />
              <b>Bio</b>
              <input
                class="Bio"
                type="text"
                placeholder="Enter your Bio"
                name="bio"
              />
              <b>Phone Number</b>
              <span
                ><input
                  id="phone-number"
                  class="phone-number"
                  type="text"
                  placeholder="Enter your phone number"
                  name="phone_number"
                  required
                /> 
                <b>Upload Profile Picture</b>
                <input type="file" name="profile_pic" id="profile_pic" accept=".jpg">  
              <button type="submit">Create</button>
        </form>
</body>
<script src="{% static 'js/user.js' %}"></script>
</html>