{% extends "index.html" %} 
{% block title %}{{ user_profile.user.username }}{% endblock title %}

{% block contain %}
<div class="dashboard">
  <div class="user-account">
      <span class="uinfo"><img
        src="{{ user_profile.user.profile_pic.url }}"
        alt=""
        srcset=""
        class="Page-profile"
      />
      <h3 class="Page-name">&nbsp;{{ user_profile.user.username }}
        <p class="user-name">&nbsp;created by @{{ user_profile.user.first_name }}&nbsp;{{ user_profile.user.last_name }}</p>
      </h3>
    </span>
    <form action="/follow" method="post">
      {% csrf_token %}
      <input type="hidden" value="{{user.first_name}}&nbsp;{{user.last_name}}" name="follower">
      <input type="hidden" value="{{user_object.username}}" name="user">

    <button type="submit" class="btnfollow" id="follow">
      <img class="follow" src="/static/assets/svg/follow.svg" alt="" srcset="" />
      {{button_text}}
    </button>
    </form>
    </div>
    <div class="about">
      <div class="bio">
        <p> {{ user_profile.bio }}</p>  
        </p>
      </div>
      <div id="links" class="links">
        <a href="mailto:" target="_blank"
          ><div id="Gmail" class="link">
            <img
              src="/static/assets/svg/gmaillogo.svg"
              alt=""
              srcset=""
            /></div
        ></a>
        <a href="tel:+" target="_blank"
          ><div id="whatsapp" class="link">
            <img
              src="/static/assets/svg/whatsapp.svg"
              alt=""
              srcset=""
            /></div
        ></a>
        <a href="http://" target="_blank"
          ><div id="Instagram" class="link">
            <img
              src="/static/assets/svg/instagramlogo.svg"
              alt=""
              srcset=""
            /></div
        ></a>
        <a href="http://" target="_blank"
          ><div id="Youtube" class="link">
            <img
              src="/static/assets/svg/youtubelogo.svg"
              alt=""
              srcset=""
            /></div
        ></a>
      </div>
      <div class="address">
        <img src="/static/assets/svg/locationlogo.svg" alt="" srcset="" />
        <h4 id="location" class="location">{{ user_profile.location }}</h4>
      </div>
    </div>
    <div class="followers">

      {% if user_followers == 0 %}
      <b>No Follower</b>
      {% elif user_followers == 1 %}
      <b>{{user_followers}} Follower</b>
      {% else %}
      <b>{{user_followers}} Followers</b>
      {% endif %}
      

      {% if user_post_length == 0 %}
      <b>No Post</b>
      {% elif user_post_length == 1 %}
      <b>{{user_post_length}} Post</b>
      {% else %}
      <b>{{user_post_length}} Posts</b>
      {% endif %}
    </div>
    <h3 id="posts-h3">Posts</h3>
  <div class="post-section">
    {% for p in user_posts %}
    <div class="post">
      <img style="height: 200px; width: 200px;"
        src="{{ p.content.url }}"
        alt=""
        srcset=""
      />
    </div>
    {% endfor %}
  </div>
  </div>
{% endblock %}