{% extends "index.html" %} 
{% block title %}Comments{% endblock title %}

{% block contain %}

<div class="postview" >
    <div class="view" style="margin-bottom: 10px;">
      <img
        src="{{ user_posts.content.url }}"
        alt=""
        srcset=""
      />
      <div class="btn">
        <a style="text-decoration: none;" href="/plikepost?post_id={{user_posts.id}}">
        <button class="button" id="like">
          <img src="/static/assets/svg/like.svg" alt="" srcset="" />
          {% if postlike %}
          &nbsp;{{postlike}}
          {% endif %}
        </button></a>
        <a style="text-decoration: none;" href="/postview/{{user_posts.id}}"><button class="button" id="comment">
          <img src="/static/assets/svg/comment.svg" alt="" srcset="" />
          {% if lencom %}
          &nbsp;{{lencom}}
          {% endif %}
        </button></a>
        <a style="text-decoration: none;" href="/pshare?post_id={{user_posts.id}}"><button class="button" id="share">
          <img src="/static/assets/svg/share.svg" alt="" srcset="" />
          {% if sharepost %}
          &nbsp;{{sharepost}}
          {% endif %}
        </button></a>
      </div>
      <!-------commentform---------->
      <form style="display: block;" action="/pcomment" method="post">
        {% csrf_token %}
      <div id="bcom" class="bcom">
        <input type="hidden" value="{{user.first_name}}&nbsp;{{user.last_name}}" name="user">
        <input type="hidden" value="{{user_posts.id}}" name="post_id">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comment&nbsp;&nbsp;&nbsp;
        <input placeholder="leave a comment" class="comment-b2" type="text" name="comment" id="comment">
        <button type="submit"><img src="/static/assets/svg/comsend.svg" alt="" srcset=""></button>
    </div>
  </form>
  <!-------commentformEnd---------->
    </div>
    <div class="com">
    {% if post_comments %}
    <p style="opacity: 50%;">Total comments:{{lencom}}</p>
    <strong>Comments:</strong>
    {% for comment in post_comments %}
      <p><b style="opacity: 70%;">{{ comment.user }}</b>:&nbsp;&nbsp;{{ comment.comment }}</p>
      {% endfor %}
    {% else %}
    <p>No comment yet</p>
    {% endif %}
</div>
    </div>
{% endblock %}