{% extends "index.html" %} 
{% block title %}Post | {{user_posts.user}}{% endblock title %}


{% block my-ac %}
{% if user.profile_pic.url is not None %}
<div class="imge" id="account">
  <img style="width: 28px; height: 28px; border-radius: 50%;" src="{{ user.profile_pic.url }}" alt="" srcset="" />
  <li>My Account</li>
</div>

{% else %}

<div class="imge" id="account">
  <img src="/static/assets/svg/profileselected.svg" alt="" srcset="" />
  <li>My Account</li>
</div>

{% endif %}
{% endblock %}

{% block contain %}
{% if user_posts.video %}
<style>
  .postview{
    display: flex;
    flex-direction: column;
  }
  .view{
    transform: translateX(10%);
  }
</style>
{% endif %}
<div class="postview" >
    <div class="view" style="margin-bottom: 10px;">
      {% if user_posts.video %}
      <video src="{{ user_posts.video.url }}" autoplay controls></video>
      {% else %}
      <img
        src="{{ user_posts.content.url }}"
        alt=""
        srcset=""
      />
      {% endif %}
      <div class="btn">
        <a style="text-decoration: none;" href="/plikepost?post_id={{user_posts.id}}">
        <button class="button" id="like">
          <img src="/static/assets/svg/like.svg" alt="" srcset="" />
          {% if postlike %}
          &nbsp;{{postlike}}
          {% endif %}
        </button></a>
        <a style="text-decoration: none;" href="/postview/{{user_posts.id}}"><button class="button" id="comment">
          <img src="/static/assets/svg/comment.svg" alt="" srcset="" />
          {% if lencom %}
          &nbsp;{{lencom}}
          {% endif %}
        </button></a>
        <button onclick="openPopupimg()" class="button" id="share">
          <img src="/static/assets/svg/share.svg" alt="" srcset="" />
          {% if sharepost %}
          &nbsp;{{sharepost}}
          {% endif %}
        </button>
        <div id="overlay"></div>
        <div class="pop" id="pop">
          <div class="popup">
            {% load social_share %}
              <button class="button" id="share">
              <p style="text-decoration: none;">{% post_to_twitter "Check out new post on Dashvatar Social media website http://127.0.0.1:8000/postview/{{user_posts.id}}" %}</p>
              </button><br>
             <button class="button" id="share">
          {% post_to_telegram "Check out new post on Dashvatar Social media website http://127.0.0.1:8000/postview/{{user_posts.id}}" object_or_url %}</button>
          <a style="text-decoration: none;" href="/pshare?post_id={{user_posts.id}}">
            <button class="close" id="close" onclick="closePopupimg()"><img src="/static/assets/svg/cancel.svg" alt="" srcset=""></button></a>
        </div>
          </div>
      </div>
      <!-------commentform---------->
      <form style="display: block;" action="/pcomment" method="post">
        {% csrf_token %}
      <div id="bcom" class="bcom">
        <input type="hidden" value="{{user.username}}" name="user">
        <input type="hidden" value="{{user_posts.id}}" name="post_id">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Comment&nbsp;&nbsp;&nbsp;
        <input placeholder="leave a comment" class="comment-b2" type="text" name="comment" id="comment">
        <button type="submit"><img src="/static/assets/svg/comsend.svg" alt="" srcset=""></button>
    </div>
  </form>
  <!-------commentformEnd---------->
    </div>
    <div class="com">
    {% if post_comments %}
    <p style="opacity: 50%;">Total comments:{{lencom}}</p>
    <strong>Comments:</strong>
    {% for comment in post_comments %}
      <p><b style="opacity: 70%;">{{ comment.user }}</b>:&nbsp;&nbsp;{{ comment.comment }}</p>
      {% endfor %}
    {% else %}
    <p>No comment</p>
    {% endif %}
</div>
    </div>
{% endblock %}