{% extends "index.html" %}
{% block title %}Search{% endblock title %}


{% block Search %}
<div class="imgeselected" id="search">
  <img src="/static/assets/svg/searchselected.svg" alt="" srcset="" />
  <li>Search</li>
</div>
{% endblock Search %}

{% block contain %}
<div class="search">
  <div class="searchbar">
    <input class="inputsearch" id="searchtext" type="search" placeholder="Search...">
    <button class="btn-search" id="search"><img src="/static/assets/svg/search.svg" alt="" srcset=""></button>
  </div>
  <div class="line"></div>
  <div class="searchoutput">
    {% for i in profile %}
    <div class="accountbox"><a href="/profile/{{i.user}}"><img class="userprofilepic" src="{{ i.user.profile_pic.url }}" alt="" srcset="" />
        <span class="userprofile"></span>
          <h4 id="username">{{i.user}}</h4>
      </a></div>
      {% endfor %}
    </div>
  </div>
{% endblock %}