{% extends "index.html" %}
{% block title %}Search{% endblock title %}


{% block Search %}
<div class="imgeselected" id="search">
  <img src="/static/assets/svg/searchselected.svg" alt="" srcset="" />
  <li>Search</li>
</div>
{% endblock Search %}

{% block contain %}
<div class="search">
  <div class="searchbar">
    <form style="flex-direction: row;" action="/usersearch" method="post">
      {% csrf_token %}
    <input class="inputsearch" id="searchtext" type="search" name="username" placeholder="Search...">
    <button type="submit" class="btn-search" id="search">
      <img src="/static/assets/svg/search.svg" alt="" srcset="">
    </button>
  </form>
  </div>
  <div class="line"></div>
  <div class="searchoutput">
   <span style="display: flex;
   justify-content: space-between;"><h3>My Followings</h3>
   <h5>Total {{user_followers}} Following</h5></span>
   <div style="display: flex; 
              flex-direction: column;
              gap: 10px;">
    {% for u in user_follower %}
    <div class="accountbox"><a href="/profile/{{u}}">
        <span class="userprofile">
          <h4 id="username">{{u}}</h4>
        </span>
      </a>
    </div>
    {% endfor %}
   </div>
    </div>
    </div>
{% endblock %}