{% extends "dashboard.html" %}
{% block title %}
{{user.username}}
{% endblock title %}

{% block dashboard %}

<div class="postview" >
    <div class="view" style="margin-bottom: 10px;">
      <img
        src="{{ user_posts.content.url }}"
        alt=""
        srcset=""
      />
      <div class="com">
          <div class="likes">   
          {% if postlikes %}
      <p style="opacity: 50%;">Total Likes:{{postlike}}</p>
      <strong>Likes by:</strong>
      {% for pl in postlikes %}
        <p><b style="opacity: 70%;">{{ pl.username }}</b></p>
        {% endfor %}
      {% else %}
      <p>0 likes</p>
      {% endif %}
  </div> 
  
  <div class="shares">   
      {% if shareposts %}
  <p style="opacity: 50%;">Total Shares:{{sharepost}}</p>
  <strong>Share by:</strong>
  {% for s in shareposts %}
    <p><b style="opacity: 70%;">{{ s.username }}</b></p>
    {% endfor %}
  {% else %}
  <p>0 Shares</p>
  {% endif %}
  </div> 
    </div>


</div>
<div class="commentss">
{% if post_comments %}
<p style="opacity: 50%;">Total comments:{{lencom}}</p>
<strong>Comments:</strong>
{% for comment in post_comments %}
  <p><b style="opacity: 70%;">{{ comment.user }}</b>:&nbsp;&nbsp;{{ comment.comment }}</p>
  {% endfor %}
{% else %}
<p>0 comment</p>
{% endif %}
</div>

    </div>
{% endblock %}