{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create account as user</title>
  <link rel="stylesheet" href="{% static 'css/userstyle.css' %}" />
</head>

<body>
  <div class="container">
    <form action="" method="get">
      <div class="info">
        <h4>Register as Drama Company</h4>
        <div>
          <b>Name</b>
          <input class="name" type="text" placeholder="Enter your full name..." name="name" required />
          <b>Gmail</b>
          <input class="gmail" type="email" placeholder="Enter your gmail" name="gmail" required />
          <b>Address</b>
          <input class="address" type="text" placeholder="Enter your Address" name="address" required />
          <b>Page Name</b>
          <input class="page-name" type="text" placeholder="Enter your NatyaMandal name" name="page-name" required />
          <b>Phone Number</b>
          <span><input id="phone-number" class="phone-number" type="text" placeholder="Enter your phone number"
             name="phone-number" required />
            <div id="otp-send" class="otp-visible">
              <img src="/static/assets/svg/otp-send.svg" alt="" srcset="" />
            </div>
          </span>
          <b>OTP</b>
          <p id="otp-sendmsg" class="none">
            Code will send on your phone number
          </p>
          <input class="otp" type="password" placeholder="Enter 4 digit code" name="otp" required />
          <b>Password</b>
          <span><input id="password" type="password" placeholder="Enter your password" name="password" required />
            <div id="hide" class="showpassword">
              <img src="/static/assets/svg/hidepassword.svg" alt="" srcset="" />
            </div>
          </span>
        </div>
        <button id="submit" type="submit">Create account</button>
      </div>
    </form>
  </div>
</body>
<script src="{% static 'js/user.js' %}"></script>

</html>