{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="shortcut icon"
    href="/static/assets/svg/icon.svg"
    type="image/x-icon"
  />
  <title>User Register| Dashavatar Social media Website</title>
    <link rel="stylesheet" href="{% static 'css/userstyle.css' %}" />
  </head>

  <body>
    <div class="container">
      <div>
        <style>
            h5{
                color: red;
            }
        </style>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
    </div>
      <form action="{% url 'adduser' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="info">
          <h4>Register as Drama Company</h4>
          <div>
            <b>NatyaMandal Name</b>
            <input
              class="name"
              type="text"
              placeholder="Enter your NatyaMandal name..."
              name="username"
              required
            />
            <b>First Name</b>
            <input
              class="first_name"
              type="text"
              placeholder="Enter your First Name"
              name="first_name"
              required
            />
            <b>Last Name</b>
            <input
              class="last_name"
              type="text"
              placeholder="Enter your Last Name"
              name="last_name"
              required
            />
            <b>Gmail</b>
            <input
              class="gmail"
              type="email"
              placeholder="Enter your gmail"
              name="email"
              required
            />
            <b>Location</b>
            <input
              class="location"
              type="text"
              placeholder="Enter your Address"
              name="location"
              required
            />
            <b>Bio</b>
            <input
              class="bio"
              type="text"
              placeholder="Enter your NatyaMandal name"
              name="bio"
              required
            />
            <b>Profile Picture</b>
            <input type="file" name="profile_pic" id="profile_pic" accept=".jpg">
            <b>Password</b>
            <span
              ><input
                id="password"
                type="password"
                placeholder="Enter a password"
                name="password"
                required
              />
              <div id="hide" class="showpassword">
                <img
                  src="/static/assets/svg/hidepassword.svg"
                  alt=""
                  srcset=""
                />
              </div>
            </span>
          </div>
          <button id="submit" type="submit">Create account</button>
        </div>
      </form>
    </div>
  </body>
  <script src="{% static 'js/user.js' %}"></script>
</html>
