{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create account as user</title>
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}" /> -->
</head>
<body>
    <form action="" method="get">
        <div class="info">
            <h4>Register as Drama Company</h4>
            Name <input class="name" type="text" placeholder="Enter your full name...">
            Gmail <input class="gmail" type="text" placeholder="Enter your gmail">
            Address <input class="address" type="text" placeholder="Enter your Address">
            Phone Number <input class="phone-number" type="text" placeholder="Enter your phone number">
            Page Name <input class="page-name" type="text" placeholder="Enter your NatyaMandal name">
            OTP <p>Code will send on your phone number</p><input class="otp" type="text" placeholder="Enter 4 digit code">
            Password <input class="password" type="password" placeholder="Enter your password">
            <input class="password-show" type="checkbox" name="show">
        </div> 
    </form>
</body>
</html>