{% extends "dashboard.html" %}
{% block title %}
{{user.username}}
{% endblock title %}

{% block editaccount %}
{% if user.profile_pic.url is not None %}
        <a href="/editaccount"><div class="imge" id="account">
            <img style="width: 28px; height: 28px; border-radius: 50%;" src="{{ user.profile_pic.url}}" alt="" srcset="" />
            <li>Edit Account</li>
          </div></a>

        {% else %}

        <a href="/editaccount"><div class="imge" id="account">
          <img src="/static/assets/svg/profile.svg" alt="" srcset="" />
          <li>Edit Account</li>
        </div></a>

        {% endif %}
{% endblock %}

{% block dashboard %}
{% if user_posts.video %}
<style>
  .postview{
    display: flex;
    flex-direction: column;
  }
  .view{
    transform: translateX(10%);
  }
</style>
{% endif %}

<div class="postview" >
    <div class="view" style="margin-bottom: 10px;">
      {% if user_posts.video %}
      <video src="{{ user_posts.video.url }}" autoplay controls></video>
      {% else %}
      <img
        src="{{ user_posts.content.url }}"
        alt=""
        srcset=""
      />
      {% endif %}
      <div class="ucom">
          <div class="likes">   
          {% if postlikes %}
      <p style="opacity: 50%;">Total Likes:{{postlike}}</p>
      <strong>Likes by:</strong>
      {% for pl in postlikes %}
        <p><b style="opacity: 70%;">{{ pl.username }}</b></p>
        {% endfor %}
      {% else %}
      <p>0 likes</p>
      {% endif %}
  </div> 
  
  <div class="shares">   
      {% if shareposts %}
  <p style="opacity: 50%;">Total Shares:{{sharepost}}</p>
  <strong>Share by:</strong>
  {% for s in shareposts %}
    <p><b style="opacity: 70%;">{{ s.username }}</b></p>
    {% endfor %}
  {% else %}
  <p>0 Shares</p>
  {% endif %}
  </div> 
    </div>


</div>
<div class="commentss">
{% if post_comments %}
<p style="opacity: 50%;">Total comments:{{lencom}}</p>
<strong>Comments:</strong>
{% for comment in post_comments %}
  <p><b style="opacity: 70%;">{{ comment.user }}</b>:&nbsp;&nbsp;{{ comment.comment }}</p>
  {% endfor %}
{% else %}
<p>0 comment</p>
{% endif %}
</div>
</div>
<Button onclick="openPopupimg()" class="delete"><img style="width: 22px; height: 22px;" src="/static/assets/svg/delete.svg" alt="" srcset=""></Button>
<div id="overlay"></div>
        <div class="pop" id="pop">
          <div class="popup">
            <h1>Delete Post</h1>
              <p>Are you sure you want to delete?</p>
                  <form method="post">
                    {% csrf_token %}
                  <button class="delete" type="submit">Delete</button>
                </form>
          <button class="close" id="close" onclick="closePopupimg()"><img src="/static/assets/svg/cancel.svg" alt="" srcset=""></button>
        </div>
          </div>
{% endblock %}