{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
  rel="shortcut icon"
  href="/static/assets/svg/icon.svg"
  type="image/x-icon"
/>
<title>Viewer Register | Dashavatar Social media Website</title>
  <link rel="stylesheet" href="{% static 'css/viewerstyle.css' %}" />
</head>

<body>
  <div class="container">
    <form action="{% url 'addviewer' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h4>Register as Viewer</h4>
      <div class="info">
        <b>Username</b>
        <input class="name" type="text" placeholder="Enter username" name="username" />
        <b>First Name</b>
        <input class="name" type="text" placeholder="Enter first name" name="first_name" />
        <b>Last Name</b>
        <input class="name" type="text" placeholder="Enter last name" name="last_name" />
        <b>Gmail</b>
        <input class="gmail" id="gmail" type="email" placeholder="Enter your gmail" name="email" />
        <b>Profile Picture</b>
        <input type="file" name="profile_pic" id="profile_pic" accept=".jpg">
        <b>Password</b>
        <span><input id="password" type="password" placeholder="Enter your password" required name="password" />
          <div id="hide" class="showpassword">
            <img src="/static/assets/svg/hidepassword.svg" alt="" srcset="" />
          </div>
        </span>
      </div>
      <button id="submit" type="submit">Create account</button>
    </form>
  </div>
</body>
<script src="{% static 'js/viewer.js' %}"></script>

</html>